html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  overflow: hidden;
}

.crosshair {
  pointer-events: none;
  width: 60px;
  height: 60px;
  position: absolute;
  transform: translate(-30px, -30px);
  left: 50vw;
  top: 50vh;
  background-image: url("/images/crosshair.png");
  
}
.crosshair.fire{
    animation-name: shoot;
  animation-duration: 150ms;
  animation-delay: 0;
  animation-iteration-count: infinite;
  /*animation-direction: normal;*/
  
}
.crosshair:active {
    animation-iteration-count: 1;
    animation: shoot 150ms;
    filter: hue-rotate(160deg);
  }

@keyframes shoot {
  0% {
    transform: translate(-30px, -30px) scale(1);
  }
  50% {
    transform: translate(-30px, -30px) scale(1.1);
  }
  100% {
    transform: translate(-30px, -30px) scale(1);
  }
}

.crosshair::after {
  content: "";
  position: absolute;
  bottom: -100vh;
  left: calc(50% - 0.5px);
  width: 1px;
  background-image: repeating-linear-gradient(
    180deg,
    green 0px 2px,
    black 2px 6px
  );
  height: 200vh;
}

.crosshair::before {
  content: "";
  position: absolute;
  top: calc(50% - 0.5px);
  left: -100vh;
  height: 1px;
  width: 200vh;
  background-image: repeating-linear-gradient(
    90deg,
    green 0px 2px,
    black 0px 6px
  );
}
.enemy{
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
  opacity: 0.5;
}